<!DOCTYPE html >
<html>
<head>
    <!-- debug -->
    <meta http-equiv="Expires" CONTENT="0">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="renderer" content="webkit">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
</head>
<body>
    <div id="root"></div>
    <div id="page"></div>
    <link rel="stylesheet" type="text/css" href="css/monkeyui.css">
    <link rel="stylesheet" type="text/css" href="css/democss.css">
    <script src="js/index.js"></script>
</body>
</html>
