<!DOCTYPE html >
<html>
<head>
    <!-- debug -->
    <meta http-equiv="Expires" CONTENT="0">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="renderer" content="webkit">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
</head>
<body>
	<div id="hello"></div>
    <div id="world"></div>
    <div id="checkboxdemo"></div>
    <div id="modal"></div>
    <div id="modal2"></div>
    <div id="tree"></div>
    <div id="message"></div>
    <div id="alert"></div>
    <div id="collapse"></div>
    <script src="js/vendors.js?<%= htmlWebpackPlugin.options.version%>"></script>
	<script src="js/index.js?<%= htmlWebpackPlugin.options.version%>"></script>
</body>
</html>
